{%include "nav_bar/index.html" %}
{%block content%}
<!--<style>-->
<!--img {-->
<!--  display: block;-->
<!--  margin-left: auto;-->
<!--  margin-right: auto;-->
<!--  width: 100px;-->
<!--  height: 200px;-->
<!--}-->
<!--</style>-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="profile">
                    {%if user["username"] %}
                    <div class="row">
                        <h1 class="page-header" style="width: 60%;">{{user["username"]}}</h1>
                        <div style="width: 20%;">
                            <img width="30%" src="/static/images/give_01.jpg" class="img-thumbnail">
                            <span style="color: green;">{{user['num_giving']}} giving</span>
                        </div>
                        <div style="width: 20%;">
                            <img width="30%" src="/static/images/receiving.jpg" class="img-thumbnail">
                            <span style="color: blue;">{{user['num_receiving']}} receiving</span>
                        </div>
                    </div>
                    {%endif%}
                    <div class="row">
                        <div class="col-md-4">
                           {% if user["profile_image_name"]%}
                            <img src="{{ url_for('lib.controller.profile.file',filename = user['profile_image_name'])}}" class="img-thumbnail">
                            {%else%}
                            <img src="/static/images/default_avatar.jpg" class="img-thumbnail">
                            {%endif%}
                            {% if user["username"] is in [current_user]%}
                                <form method = "POST" action = "/profile/create" enctype="multipart/form-data">
                                    <input type="file" class="btn btn-primary" name = "profile_image">
                                    <input type = "submit" value = "Upload">
                                </form>
                            {%endif%}



                        </div>

                        <div class="col-md-8">
                            <ul>
                                <li><strong>Name:</strong> {{user["username"]}}</li>
                                {% if user["username"] is in [current_user]%}
                                <li><strong>Email Address: </strong>{{user["mail"]}}</li>
                                <li><strong>Telephone: </strong>{{user["tel"]}}</li>
                                <li><strong>Location: </strong>{{user["location"]}}</li>
                                {%endif%}
                                <li><strong>Type user: </strong>
                                    {%if user["type_user"] == "1"%}
                                    Individual
                                    {%else%}
                                    Organization
                                    {%endif%}
                                </li>
                                <li><strong>Number giving: </strong>{{ session["num_giving"] }}</li>
                                <li><strong>Number receiving: </strong>{{ session["num_receiving"] }}</li>
                                <li></li>
                            </ul>

                        </div>
                    </div>
                    <br></br>


                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                {% if user["username"] is in [current_user]%}
                                <div class="panel-heading">
                                    <h3 class="panel-title">List Give And Receive Post</h3>
                                </div>
                                <div class="panel-body">
                                    <form>

                                        <!--                                        <div class="pull-right">-->
                                        <!--                                            <div class="btn-group">-->
                                        <!--                                                <button type="button" class="btn btn-default"><i class="fa fa-pencil"></i> Text</button>-->
                                        <!--                                                <button type="button" class="btn btn-default"><i class="fa fa-file-image-o"></i> Image</button>-->
                                        <!--                                                <button type="button" class="btn btn-default"> <i class="fa fa-file-video-o"></i> Video</button>-->
                                        <!--                                            </div>-->
                                        <!--                                            -->
                                        <!--
                                                                          </div>-->

                                        {%for each_post in post%}
                                        <div class="container">
                                            <!-- Button to Open the Modal -->
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal">
                                                Confirm
                                            </button>

                                            <!-- The Modal -->
                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <span class="modal-title"
                                                                  style="font-size: 2em; text-align: center;">Thank you letter</span>
                                                            <button type="button" style="font-size: 3em" class="close"
                                                                    data-dismiss="modal">&times;
                                                            </button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body">
                                                            <input id="post_letter" value={{each_post["username"]}}>
                                                            <div style="margin-bottom: 3em">
                                                                Do you want to give thank you for the help. Please write
                                                                some sentences :
                                                            </div>

                                                            <textarea rows="10" cols="60" id="message">

                                                            </textarea>
                                                        </div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger"
                                                                    data-dismiss="modal" id="btnSubmit">Send
                                                            </button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="post-preview">
                                            <a href="detail_post.html">
                                                <h2 class="post-title">
                                                    {{each_post["title"]}}
                                                </h2>
                                            </a>
                                            <h3 class="post-subtitle">
                                                Address: {{each_post["address"]}}
                                            </h3>
                                            <h4 class="post-subtitle">
                                                Contact telephone: {{user["tel"]}}
                                            </h4>
<!--                                            <h3 class="post-subtitle">-->
<!--                                                Contact of Matching person: {{each_post["matching_person"]}}-->
<!--                                            </h3>-->
                                            <p class="post-meta">Posted by
                                                <a href="#">{{each_post["username"]}}</a>
                                                {{moment(each_post["date_post"]).format('MMMM Do YYYY, h:mm:ss a')}}</p>
                                            <p class="post-meta">Matching with
                                                {%if each_post["matching_person"]%}
                                                {%for person in each_post["matching_person"]%}
                                                <a href="#">
                                                    {{person}}
                                                </a>
                                                {%endfor%}
                                                {%else%}
                                                <a>
                                                    No one
                                                </a>

                                                {%endif%}


                                                {{moment(each_post["date_post"]).format('MMMM Do YYYY, h:mm:ss a')}}</p>
                                        </div>
                                        <hr>
                                        {%endfor%}


                                    </form>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    </div>

                </div>
            </div><!-- col-md-8 end -->


</section>
<script>
    $('#btnSubmit').on('click', function () {
        var message = $('#message');
        var receiver = $('#post_letter');

        $.ajax({
            url: '/profile/thank_you',
            type: 'POST',
            data: {
                message: message.val(),
                receiver: receiver.val()
            },
            success: function (data) {
                if (data.errors === 0) {
                    document.getElementById('message').innerHTML = username.val() + data.message;
                    $('#message').css('color', 'green');
                    window.location.href = "/";
                } else {
                    document.getElementById('message').innerHTML = username.val() + data.message;
                    $('#message').css('color', 'red');
                }
            },
            error: function () {
                document.getElementById('message').innerHTML = 'Something wrong!';
                $('#message').css('color', 'red');
                console.log('error');
            }
        })
    });

    $('#btnBacktoLogin').bind('click', function () {
        window.location.href = "/security/login";
    })
</script>


<script>
    {
        {
            moment.include_jquery()
        }
    }
    {
        {
            moment.include_moment()
        }
    }

</script>

<!--<footer>-->
<!--    <div class="container">-->
<!--        <p>Dobble Copyright &copy; 2015, All Rights Reserved</p>-->
<!--    </div>-->
<!--</footer>-->

<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="js/bootstrap.js"></script>-->
{%endblock%}


