{%include "nav_bar/index.html" %}
{%block content%}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="profile">
                    {%if user["username"] %}
                    <h1 class="page-header">{{user["username"]}}</h1>
                    {%endif%}
                    <br></br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">We have some thank you letters for you !!!!!!</h3>
                                </div>
                                <div class="panel-body">
                                    <form>
                                        {%for each_post in letters%}

                                        <div class="post-preview">
<!--                                            <a >-->
                                                <h2 >
                                                    {{each_post["message"]}}
                                                </h2>
<!--                                            </a>-->
                                            <p class="post-meta">Send by
                                                <a href="#">{{each_post["fk_user_send"]}}</a>
                                                </p>
                                            <p class="post-meta">To
                                                <a href="#">
                                                    {{each_post["fk_user_receive"]}}
                                                </a>
                                                {{moment(each_post["time_send"]).format('MMMM Do YYYY, h:mm:ss a')}}</p>
                                        </div>
                                        <hr>
                                        {%endfor%}

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- col-md-8 end -->

<!--            <div class="col-md-4">-->
<!--                <div class="panel panel-default friends">-->
<!--                    <div class="panel-heading">-->
<!--                        <h3 class="panel-title">My Friends</h3>-->
<!--                    </div>-->
<!--                    <div class="panel-body">-->
<!--                        <ul>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                        </ul>-->
<!--                        <div class="clearfix"></div>-->
<!--                        <a class="btn btn-primary" href="#">View All Friends</a>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="panel panel-default groups">-->
<!--                    <div class="panel-heading">-->
<!--                        <h3 class="panel-title">Latest Groups</h3>-->
<!--                    </div>-->
<!--                    <div class="panel-body">-->
<!--                        <div class="group-item">-->
<!--                            <img src="img/group.png">-->
<!--                            <h4><a href="#">Sample Group One</a></h4>-->
<!--                            <p>This is a Dobble social network sample group</p>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                        <div class="group-item">-->
<!--                            <img src="img/group.png">-->
<!--                            <h4><a href="#">Sample Group One</a></h4>-->
<!--                            <p>This is a Dobble social network sample group</p>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                        <div class="group-item">-->
<!--                            <img src="img/group.png">-->
<!--                            <h4><a href="#">Sample Group One</a></h4>-->
<!--                            <p>This is a Dobble social network sample group</p>-->
<!--                        </div>-->
<!--                        <div class="clearfix"></div>-->
<!--                        <a class="btn btn-primary" href="#">View All Groups</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</section>
<script>
        $('#btnSubmit').on('click', function() {
            var message = $('#message');
            var receiver = $('#post_letter');

            $.ajax({
                url: '/profile/thank_you',
                type: 'POST',
                data: {
                    message: message.val(),
                    receiver: receiver.val()
                },
                success: function(data) {
                    if(data.errors === 0) {
                        document.getElementById('message').innerHTML = username.val() + data.message;
                        $('#message').css('color', 'green');
                        window.location.href = "/";
                    } else {
                        document.getElementById('message').innerHTML = username.val() + data.message;
                        $('#message').css('color', 'red');
                    }
                },
                error: function () {
                    document.getElementById('message').innerHTML = 'Something wrong!';
                    $('#message').css('color', 'red');
                    console.log('error');
                }
            })
        });

        $('#btnBacktoLogin').bind('click', function(){
            window.location.href = "/security/login";
        })
    </script>


<script>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

</script>

<!--<footer>-->
<!--    <div class="container">-->
<!--        <p>Dobble Copyright &copy; 2015, All Rights Reserved</p>-->
<!--    </div>-->
<!--</footer>-->

<!--&lt;!&ndash; Bootstrap core JavaScript-->
<!--================================================== &ndash;&gt;-->
<!--&lt;!&ndash; Placed at the end of the document so the pages load faster &ndash;&gt;-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="js/bootstrap.js"></script>-->
{%endblock%}


