{% extends 'security/_template.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<!-- <script src="/static/js/blog_js/jquery-1.11.1.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
            font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        #version {
            float: left;
            text-align: left;
            font-size: 8pt;
            color: #bbbbbb;
            width: 100%;
        }

        .btn-access {
            color: #fff;
            font-family: "roboto", sans-serif;
            font-size: 13px;
            padding: 11px 33px;
            font-weight: 600;
            background-image: linear-gradient(120deg, #556cdc, #128bfc, #18bef1);
        }

        .nav-get-started {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            position: absolute;
            top: 30px;
            right: 30px;
        }

        .get-started-btn {
            border: 1px solid #383e5d;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            margin-left: 20px;
            border-radius: 50px;
        }

        #message {
            color: red;
            font-weight: bold;
            font-size: 18px;
        }
    </style>
    <body>
        <div class="col-md-5 col-md-offset-3" style="margin: auto">
            <div class="card card-small login-card">
                <div class="card-header text-center">
                    <h4 class="m-0">Share Social Network</h4>
                </div>
                <div class="card-body pb-0">
                    <form id="loginForm">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username..."
                                   autofocus="true">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="inputPassword" name="password" class="form-control"
                                   placeholder="Password...">
                        </div>
                        <div class="feedback mb-1"></div>
                        <br>
                        <div id="message"></div>
                        <br>
                        <button id="btnSubmit" name="btnSubmit" class="btn btn-primary" type="button">SIGN IN</button>
                        <button id="btnSignup" name="btnSignup" class="btn btn-secondary" type="button">REGISTER</button>
                        <br>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col text-right view-report">
                            <p class="mt-1 mb-2 text-muted">Share Social Network</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('#btnSubmit').on('click', function() {
            var email = $('#inputEmail');
            var pass = $('#inputPassword');
            $.ajax({
                url: '/security/login',
                type: 'POST',
                data: {
                    username: email.val(),
                    password: pass.val()
                },
                success: function(data) {
                    debugger
                    if(data.errors == 0) {
                        document.getElementById('message').innerHTML = 'Done';
                        window.location.href = "/homepage";
                    } else {
                        document.getElementById('message').innerHTML = data.message;
                    }
                },
                error: function () {
                    document.getElementById('message').innerHTML = 'Something is wrong!';
                }
            })
        });

        $('#btnSignup').bind('click', function(){
            window.location.href = "/security/register";
        })
    </script>

{% endblock %}