{%extends 'security/_template.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}


<meta http-equiv="refresh" content="1;URL='/'" />

<div class="container" style="max-width:500px;">

    <h1>You are logged out</h1>


    <script>
    
    $(document).ready(function() 
    {

        $(location).attr('href','/');

    }); // end .ready()
    
    </script>


</div>

{% endblock %}
