{% extends 'security/_template.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{#    <script src="/static/js/blog_js/jquery-1.11.1.min.js"></script>#}
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
            font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-control {
            position: relative;
            box-sizing: border-box;
            height: auto;
            padding: 10px;
            font-size: 16px;
        }

        .form-signin .form-control:focus {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        #version {
            float: left;
            text-align: left;
            font-size: 8pt;
            color: #bbbbbb;
            width: 100%;
        }

        .btn-access {
            color: #fff;
            font-family: "roboto", sans-serif;
            font-size: 13px;
            padding: 11px 33px;
            font-weight: 600;
            background-image: linear-gradient(120deg, #556cdc, #128bfc, #18bef1);
        }

        .nav-get-started {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            position: absolute;
            top: 30px;
            right: 30px;
        }

        .get-started-btn {
            border: 1px solid #383e5d;
            padding: 10px 20px;
            font-size: 14px;
            font-weight: 600;
            color: #fff;
            margin-left: 20px;
            border-radius: 50px;
        }

        #message {
            color: red;
            font-weight: bold;
            font-size: 18px;
        }
    </style>
    <body>
        <div class="col-md-5 col-md-offset-3" style="margin: auto">
            <div class="card card-small login-card">
                <div class="card-header text-center">
                    <h4 class="m-0">REGISTER</h4>
                </div>
                <div class="card-body pb-0">
                    <form id="loginForm">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username..."
                                   autofocus="true" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" id="inputPassword" name="inputPassword" class="form-control"
                                   placeholder="Password..." required>
                        </div>
                        <div class="form-group">
                            <label>Re-password</label>
                            <input type="password" id="reinputPassword" name="reinputPassword" class="form-control"
                                   placeholder="Re-Password..." required>
                        </div>
                        <div class="form-group">
                            <label>Type</label>
                            <select id="typeUser" name="typeUser" class="form-control" required>
                                <option>Select Type of User</option>
                                <!-- <option value="0">Normal User</option> -->
                                <option value="1">Individual</option>
                                <option value="2">Organization</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <select id="typeLocation" name="typeLocation" class="form-control" required>
                                {%for location in province%}
                                <option>{{location}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Telephone</label>
                            <input type="text" id="inputTel" name="inputTel" class="form-control" placeholder="Telephone..." required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email..." required>
                        </div>
                        <div class="feedback mb-1"></div>
                        <br>
                            <div id="message"></div>
                        <br>
                        <button id="btnSubmit" name="btnSubmit" class="btn btn-primary" type="button">REGISTER</button>
                        <button id="btnBacktoLogin" name="btnBacktoLogin" class="btn btn-warning" type="button">BACK TO LOGIN</button>
                        <br>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col text-right view-report">
                            <p class="mt-1 mb-2 text-muted">Share Social Network</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        $('#btnSubmit').on('click', function() {
            var username = $('#inputUsername');
            var pass = $('#inputPassword');
            var repass = $('#reinputPassword');
            var type = $('#typeUser');
            var location = $('#typeLocation');
            var tel = $('#inputTel');
            var mail = $('#inputEmail');
            $.ajax({
                url: '/security/register',
                type: 'POST',
                data: {
                    username: username.val(),
                    password: pass.val(),
                    repassword: repass.val(),
                    type: type.val(),
                    location: location.val(),
                    tel: tel.val(),
                    mail: mail.val()
                },
                success: function(data) {
                    if(data.errors === 0) {
                        document.getElementById('message').innerHTML = username.val() + data.message;
                        $('#message').css('color', 'green');
                        window.location.href = "/";
                    } else {
                        document.getElementById('message').innerHTML = username.val() + data.message;
                        $('#message').css('color', 'red');
                    }
                },
                error: function () {
                    document.getElementById('message').innerHTML = 'Something wrong!';
                    $('#message').css('color', 'red');
                    console.log('error');
                }
            })
        });

        $('#btnBacktoLogin').bind('click', function(){
            window.location.href = "/security/login";
        })
    </script>

{% endblock %}