{%extends 'security/_template.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}


<meta http-equiv="refresh" content="1;URL='/home/'" />

<div class="container" style="max-width:500px;">

    <h2>You are being logged in</h2>


    <script>
    
    $(document).ready(function()
    {
        $(location).attr('href','/homepage');
        // // TODO: if user is ADMIN, send to manager app
        // {% if 1 in user['roles']: %}
        //     $(location).attr('href','/manager/');
        // {% elif 2 in user['roles']: %}
        //     // TODO: else, send to mobile app
        //     $(location).attr('href','/mobile/');
        // {% endif %}



    }); // end .ready()
    
    </script>


</div>

{% endblock %}
