{% extends 'security/_template.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<style>

</style>
<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
<body>
    <div class="card-header text-center" style="background-color: antiquewhite;">
        <h4 class="m-0">Admin Acne Management</h4>
    </div>
    <input type="button" class="btn btn-secondary mb-2 col-sm-2" id="backBtn" value="BACK TO HOMEPAGE">
    <input class="form-control col-sm-3 mb-2" type="text" oninput="onQuickFilterChanged()" id="quickFilter" placeholder="Quick Filter..." style="display: inline-block">
    <input type=button class="btn btn-danger mb-2" id="deleteBtn" value="DELETE">
    <div class="card-body pb-0 mb-2 col-sm-6" style='display: inline-block'>
      <div id="message"></div>
    </div>
    <div class="pb-0 mb-2 row">
        <div class="col-sm-6 row">
            <span class="col-1"></span>
            <select id="delUID" class="form-control col-7">
              <option selected>Choose UID for Delete All</option>
              {% for uid in listUID %}
              <option>{{uid}}</option>
              {% endfor %}
            </select>
            <input type=button class="btn btn-danger col-3" id="deleteUIDBtn" value="DELETE UID">
        </div>
        <div class="col-sm-6 row">
          <span class="col-1"></span>
          <select id="delUser" class="form-control col-7">
            <option selected>Choose Username for Delete ALL</option>
            {% for user in listUsername %}
              <option>{{user}}</option>
              {% endfor %}
          </select>
          <input type=button class="btn btn-danger col-3" id="deleteUserBtn" value="DELETE USER">
        </div>
    </div>
    <div id="myGrid" style="height: 500px; width:100%;" class="ag-theme-alpine"></div>
    <table id="labelTable" style="display: none">
      {% for label in labelTable %}
      <tr>
        <th>{{label['jid']}}</th>
        <th>{{label['uid']}}</th>
        <th>{{label['pid']}}</th>
        <th>{{label['name_image']}}</th>
        <th>{{label['username']}}</th>
        <th>{{label['json_file']['labels'] | length}}</th>
        <th>{{label['json_file']['complete']}}</th>
      </tr>
      {% endfor %}
    </table>
</body>
<script>
    var columnDefs = [
        {
            headerName: "No.", 
            field: "jid", 
            type: 'numberColumn', 
            headerCheckboxSelection: true,
            headerCheckboxSelectionFilteredOnly: true,
            checkboxSelection: true,
        },
        {headerName: "Uploading ID", field: "uid"},
        {headerName: "Picture ID", field: "pid"},
        {headerName: "Image Name", field: "name_image"},
        {headerName: "Username", field: "username"},
        {headerName: "Number of acne", field: "labels"},
        {headerName: "Complete Status", field: "complete"}
    ];
      
    defaultColDef = {
      // set every column width
      width: 200,
      // enable floating filters by default
      floatingFilter: true,
      // make every column editable
      editable: true,
      // make every column use 'text' filter by default
      filter: 'agTextColumnFilter',
      // make columns resizable
      resizable: true,
      // make columns sortable
      sortable: true
  };

  function onQuickFilterChanged() {
    gridOptions.api.setQuickFilter(document.getElementById('quickFilter').value);
  }
  // specify the data
  var rowData = [
  ];
  var numberOfRows = $('#labelTable').children().eq(0).children().length;
  for (var label = 0; label < numberOfRows; label++){
    var row = $('#labelTable').children().eq(0).children().eq(label).children();
    rowData.push({
      jid: row.eq(0).text(), 
      uid: row.eq(1).text(),
      pid: row.eq(2).text(),
      name_image: row.eq(3).text(),
      username: row.eq(4).text(),
      labels: row.eq(5).text(),
      complete: row.eq(6).text(),
    })
  }
  // let the grid know which columns and what data to use
  var gridOptions = {
      sideBar: {
        toolPanels: ['columns'],
      },
      rowGroupPanelShow: 'always',
      pivotPanelShow: 'always',
      debug: true,
      rowSelection: 'multiple',
      suppressRowClickSelection: true,
      pagination: true,
      columnDefs: columnDefs,
      defaultColDef: defaultColDef,
      rowData: rowData,
      getRowNode: true
  };

  // setup the grid after the page has finished loading
  document.addEventListener('DOMContentLoaded', function() {
      var gridDiv = document.querySelector('#myGrid');
      new agGrid.Grid(gridDiv, gridOptions);
  });


</script>
<script>
    $('#backBtn').bind('click', function(){
        window.location.href = "/";
    })
    var delList = []
    $('#deleteBtn').on('click', function(){
      var rowDel = $('.ag-row-selected').length / 3;
      for (var i = 0; i < rowDel; i++){
          delList.push(gridOptions.api.getRowNode($('.ag-row-selected').eq(i).attr('row-id')).data['jid'])
      }

      $.ajax({
          type: 'POST',
          url: '/admin/',
          data: {
            delList: delList
          },
          success: function(data){
              $('#message').text(data.message)
              $('#message').css('color', 'red')
              location.reload()
          }
      })
    })

    $('#deleteUIDBtn').on('click', function(){
        $.ajax({
            type: 'POST',
            url: '/deleteUIDAll',
            data: {
              postData: $('#delUID').val()
            },
            success: function(data){
              $('#message').text(data.message)
              $('#message').css('color', 'red')
              location.reload()
            }
        })
    })
    $('#deleteUserBtn').on('click', function(){
      $.ajax({
          type: 'POST',
          url: '/deleteUserAll',
          data: {
            postData: $('#delUser').val()
          },
          success: function(data){
            $('#message').text(data.message)
            $('#message').css('color', 'red')
            location.reload()
          }
      })
  })
</script>
{% endblock %}
