{% include 'nav_bar/index.html' %}
{% block content %}
<style>
thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 50px;
}
</style>
<section>
    <div class="container">
        <div class='row'>
            <div class="row col-3 form-group">
                <label class="my-1 mr-2 col-5" for="typeNewfeed">Newfeed:</label>
                <select class="form-control my-1 mr-sm-2 col-7" id="typeNewfeed" name="typeNewfeed">
                    <option selected>All</option>
                    <option value="Giving">Giving</option>
                    <option value="Receiving">Receiving</option>
                </select>
            </div>
            <div class="row col-3 form-group">
                <label class="my-1 mr-2 col-5" for="typeLocation">Location:</label>
                <select id="typeLocation" name="typeLocation" class="form-control col-7">
                    <option>All</option>
                    {%for key, value in province.items() %}
                    <option>{{value}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row col-3 form-group">
                <label class="my-1 mr-2 col-5" for="fromDate">From date:</label>
                <input class="form-control col-7" type="date" id='fromDate'>
            </div>
            <div class="row col-3 form-group">
                <label class="my-1 mr-2 col-5" for="toDate">To date:</label>
                <input class="form-control col-7" type="date" id='toDate'>
            </div>
            <div class='col-1'>
                <button class="btn btn-info" id="btnFilter">Filter</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Wall</h3>
                    </div>
                </div>
                {% for post in posts %}
                <div class="panel panel-default post">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <a class="post-avatar thumbnail" href="{{ '/profile/%s'%post['username'] }}">
                                    {%if post["profile_image_name"]%}
                                    <img src="{{ url_for('lib.controller.profile.file',filename = post['profile_image_name'])}}" class = "img-thumbnail">
                                    {%else%}
                                    <img src="/static/images/default_avatar.jpg" class = "img-thumbnail">
                                    {%endif%}
                                    <div class="text-center">{{post['username']}}</div>
                                </a>
                                <div>
                                    <img style="padding: 0" width="20%" src="/static/images/give_01.jpg" class="img-thumbnail">
                                    <span style="color: green;">{{post['num_giving']}} giving</span>
                                </div>
                                <div>
                                    <img style="padding: 0" width="20%" src="/static/images/receiving.jpg"
                                         class="img-thumbnail">
                                    <span style="color: blue;">{{post['num_receiving']}} receiving</span>
                                </div>
                                <!-- <div class="likes text-center">7 Likes</div> -->
                            </div><!-- col-sm-2 end -->
                            <div class="col-sm-10">
                                <div style="border: 1px black solid; padding: 0.5em; border-radius: 5px">Title: <span
                                        style="font-weight: bold; margin-left: 1em">{{post['title']}}</span></div>
                                <div class="row" style="margin: 0 0.1em;">
                                    <div class="col-8"
                                         style="border: 1px black solid; padding: 0.5em; border-radius: 5px">Detail
                                        Address: <span
                                                style="font-weight: bold; margin-left: 1em">{{post['address']}}</span>
                                    </div>
                                    <div class="col-4"
                                         style="border: 1px black solid; padding: 0.5em; border-radius: 5px">Area: <span
                                            style="font-weight: bold; margin-left: 1em">{{province[post['location']]}}</span>
                                    </div>
                                </div>
                                <div class="bubble">
                                    <div class="pointer">
                                        <p>{{post['content']}}</p>
                                    </div>
                                    <div class="pointer-border"></div>
                                </div><!-- bubble end -->
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in post['list_item'] %}
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>{{items[item['id_item']]}}</td>
                                        <td>{{item['quatity']}}</td>
                                        <td>{{item['description']}}</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <div class="row" style="margin: 0 0.1em;">
                                    <div class="col"
                                         style="border: 1px black solid; padding: 0.5em; border-radius: 5px">Date
                                        Posted: <span
                                                style="font-weight: bold; margin-left: 1em">{{post['date_post']}}</span>
                                    </div>
                                    <div class="col"
                                         style="border: 1px black solid; padding: 0.5em; border-radius: 5px">Date Will
                                        Close: <span
                                                style="font-weight: bold; margin-left: 1em">{{post['date_close']}}</span>
                                    </div>
                                </div>
                                <p class="post-actions"><a href="#">Comment</a>
                                     <!-- - <a href="#">Like</a> -->
                                    <!-- <a href="#">Follow</a> - <a href="#">Share</a> </p> -->
                                <div class="comment-form">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="inputComment"
                                                   placeholder="Enter Comment">
                                        </div>
                                        <input type="button" class="btn btn-default valueIdPost" value={{post['id']}}
                                               id="valueIdPost" style='display: none'></button>
                                        <input type="button" class="btn btn-default valueUserPost" value={{post_username[post['id']]}}
                                               id="valueUserPost" style='display: none'></button>
                                        <input type="button" class="btn btn-default btnAddComment" id="btnAddComment"
                                               value="Add"></button>
                                    </form>
                                </div><!-- comment form end -->
                                <div class="clearfix"></div>

                                <div class="comments">
                                    {% for comment in post['list_comment'] %}
                                    <div class="comment row">
                                        <div class="comment-avatar pull-left col-1" href="#">
                                            {%if comment["profile_image_name"]%}
                                            <img src="{{ url_for('lib.controller.profile.file',filename = comment['profile_image_name'])}}" class = "img-thumbnail">
                                            {%else%}
                                            <img src="/static/images/default_avatar.jpg" class = "img-thumbnail">
                                            {%endif%}
                                        </div>
                                        <div class="comment-text col-10 row">
                                            <p class="col-3" style='font-weight: bold'>{{comment['username']}}</p>
                                            <div class="col-3">
                                                <img style="padding: 0" width="30%" src="/static/images/give_01.jpg" class="img-thumbnail">

                                                <span style="color: green;">{{comment['num_giving']}} giving</span>
                                            </div>
                                            <div class="col-4">
                                                <img style="padding: 0" width="20%" src="/static/images/receiving.jpg"
                                                     class="img-thumbnail">
                                                <span style="color: blue;">{{comment['num_receiving']}} receiving</span>
                                            </div>
                                            <p class="col-12">{{comment['content']}}</p>
                                        </div>
                                        <!-- <div class="fa fa-heart col-1" style='cursor: pointer' class=".btnHeart"></div> -->
                                        <div class="container col-1">
                                            <!-- Button to Open the Modal -->
                                            <!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#myModal">
                                                Create new item
                                            </button> -->
                                            <div class="fa fa-heart" style='cursor: pointer' class=".btnHeart" data-toggle="modal"
                                            data-target="#myModal"></div>
                        
                                            <!-- The Modal -->
                                            <div class="modal" id="myModal">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                        
                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <span class="modal-title"
                                                                  style="font-size: 1.5em; text-align: center;">Confirm this comment</span>
                                                            <button type="button" style="font-size: 2em" class="close"
                                                                    data-dismiss="modal">&times;
                                                            </button>
                                                        </div>
                        
                                                        <!-- Modal body -->
                                                        <div class="modal-body form-inline">
                                                            <input class="form-control" type='text' id="id_post" value={{post['id']}} style="display: none">
                                                            <div class="row">
                                                                <label class="col-3">Current user</label>
                                                                <input class="form-control col-4" type='text' id="current_user" value={{session['username']}} disabled>
                                                            </div>
                                                            <div class="row">
                                                                <label class="col-3">User's post</label>
                                                                <input class="form-control col-4" type='text' id="user_post" value={{post['username']}} disabled>
                                                            </div>
                                                            <div class="row">
                                                                <label class="col-3">User's comment: </label>
                                                            <input class="form-control col-4" type='text' id="user_comment" value={{comment['username']}} disabled>
                                                            </div>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="modal-footer row">
                                                            <div id="message" class="col-7">
                    
                                                            </div>
                                                            <button type="button" class="btn btn-secondary col-2" data-dismiss="modal">Close</button>
                                                            <input type="button" class="btn btn-danger col-2 btnConfirmComment"
                                                                    data-dismiss="modal" value="Confirm">
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                        
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>




            <!-- Hide -->
            <div class="col-md-4">
<!--                <div class="panel panel-default friends">-->
<!--                    <div class="panel-heading">-->
<!--                        <h3 class="panel-title">My Friends</h3>-->
<!--                    </div>-->
<!--                    <div class="panel-body">-->
<!--                        <ul>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                            <li><a class="thumbnail" href="profile.html"><img src="img/user.png"></a></li>-->
<!--                        </ul>-->
<!--                        <div class="clearfix"></div>-->
<!--                        <a class="btn btn-primary" href="#">View All Friends</a>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="panel panel-default groups">
                    <div class="panel-heading">
                        <h3 class="panel-title">Latest Events</h3>
                    </div>
                    <div class="panel-body">
                        {% set count = 0 %}
                        {%for key, value in events.items() %}
                        <div class="group-item">
                            {% set count = count + 1 %}
                            <img src="/static/images/favicon.png"> 
                            <h4><a href="/event/{{count}}">{{key}}</a></h4>
                            <div class="clearfix"></div>
                            <h6><a href="/event/{{count}}">{{value}}</a></h6>
                        </div>
                        {% endfor %}
                        <a class="btn btn-primary" href="/event">View All Events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script>
    $('.btnConfirmComment').on('click', function(){
        $('#message').text("")
        var id_post = $(this).parent().parent().children().eq(1).children().eq(0).val()
        var current_user = $(this).parent().parent().children().eq(1).children().eq(1).children().eq(1).val()
        var user_post = $(this).parent().parent().children().eq(1).children().eq(2).children().eq(1).val()
        var user_comment = $(this).parent().parent().children().eq(1).children().eq(3).children().eq(1).val()
        console.log(id_post, current_user, user_post, user_comment)
        if (current_user != user_post){
            $('#message').text('You can not confirm this post! Because not yours!')
        }
        else if (user_post == user_comment){
            $('#message').text('You can not confirm this comment! Because it is yours!')
        }
        else if (current_user == user_comment){
            $('#message').text('Something wrong!')
        }
        else {
            $.ajax({
                type: 'POST',
                url: '/homepage/confirm_comment',
                data: {
                    id_post: id_post,
                    matching_person: user_comment
                },
                success: function(data){
                    $('#message').text(data.message)
                }
            })
        }

    })
    $('#btnFilter').on('click', function () {
        $.ajax({
            type: 'POST',
            url: '/homepage/filter',
            data: {
                typeNewfeed: $('#typeNewfeed').val(),
                typeLocation: $('#typeLocation').val(),
                fromDate: $('#fromDate').val(),
                toDate: $('#toDate').val()
            },
            success: function (data) {
                location.reload()
            }
        })
    })
    $('.btnAddComment').on('click', function () {
        var id_post = $(this).parent().children().eq(1).val();
        var content = $(this).parent().children().eq(0).children().eq(0).val();
        var username = $('#account').text()
        $.ajax({
            type: 'POST',
            url: '/homepage/addComment',
            data: {
                id_post: id_post,
                content: content,
                username: username
            },
            success: function (data) {
                console.log(id_post);
                console.log(data['content']);
            }
        })
        $(this).parent().parent().parent().children().eq(8).append("<div class='comment row'><div class='comment-avatar pull-left col-1' href='#''><img src='img/user.png'></div><div class='comment-text col-10'><p style='font-weight: bold'>" + username + "</p><p>" + content + "</p></div><div class='fa fa-heart col-1' style='cursor: pointer'></div></div><div class='clearfix'></div>")
        $(this).parent().children().eq(0).children().eq(0).val("");
    })
</script>
{% endblock %}