<!DOCTYPE html>
<html class="no-js h-100" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/images/faviconn.png">
        <title>Share Social Network</title>
        <script type="text/javascript" src="/static/bootstrap4/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap4/js/moment.min.js"></script>
        <script type="text/javascript" src="/static/bootstrap4/js/popper.min.js"></script>
        <!-- Bootstrap core CSS -->
        <link href="/static/bootstrap4/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Icons & Fonts -->
        <link rel="stylesheet" href="/static/fontawesome-free-5.6.3-web/css/all.css">
        <!--Custom CSS-->
        <link rel="stylesheet" href="/static/bootstrap4/css/extras.1.1.0.min.css">
        <link rel="stylesheet" href="/static/bootstrap4/css/shards-dashboards.1.1.0.css">
        <!--toastr-->
        <link href="/static/bootstrap4/css/toastr.min.css" rel="stylesheet"/>
        <script src="/static/js/html2canvas.min.js"></script>
        <link rel="stylesheet" href="/static/js/datepicker/dist/datepicker.min.css">
        <script type="text/javascript" src="/static/js/datepicker/dist/datepicker.min.js"></script>
        <script src="/static/js/inputmask.js"></script>
        <script src="/static/js/jquery.inputmask.js"></script>
        <script src="/static/js/inputmask.date.extensions.js"></script>
        <!-- Bootstrap Datepicker -->
        <link href="/static/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
        <script src="/static/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    </head>

    <body style="background-color: antiquewhite">
        <div class="container-fluid">
            <div class="row">
                {% block html %}{% endblock %}
            </div>
        </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/bootstrap4/js/toastr.min.js"></script>
        <script src="/static/bootstrap4/distt/js/bootstrap.min.js"></script>
        <script src="/static/bootstrap4/js/popper.min.js"></script>
        <script src="/static/bootstrap4/js/chart.min.js"></script>
        <script async defer src="/static/bootstrap4/js/buttons.js"></script>
        <script src="/static/bootstrap4/js/tether.min.js"></script>
        <link href="/static/js/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
        <script src="/static/js/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/js/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="/static/select2/js/select2.min.js"></script>
        <link href="/static/select2/css/select2.min.css" rel="stylesheet" />
        <!-- Simple Upload -->
        <script src="/static/js/simple_upload.min.js"></script>
        <script src="/static/js/toastr.js" type="text/javascript"></script>
        <!-- Block UI -->
        <script src="/static/js/jquery.blockUI.min.js"></script>
    </body>
</html>


