{% include 'nav_bar/index.html' %}
{% block content %}

<div style="width: 60%; margin: auto">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Post</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="postTitle">Title Post</label>
                    <input type="text" class="form-control" id="postTitle"
                           placeholder="Type title post ... ">
                </div>
                <div class="form-group">
                    <label for="postDescription">Description</label>
                    <textarea class="form-control" id="postDescription" placeholder="Write description ..."></textarea>
                </div>

                <!-- Type of post -->
                <div id="check_choose">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="id_giving" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                            Giving
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="id_receiving">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Receiving
                        </label>
                        <div id="disp" style=
                                "color:green; font-size:18px; font-weight:bold;">
                        </div>
                    </div>
                </div>

                <!-- Table list items -->
                <div class="form-group">
                    <label>Items</label>                
                    <div class="container">
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#myModal">
                            Create new item
                        </button>
    
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
    
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <span class="modal-title"
                                              style="font-size: 1.5em; text-align: center;">Create new item</span>
                                        <button type="button" style="font-size: 2em" class="close"
                                                data-dismiss="modal">&times;
                                        </button>
                                    </div>
    
                                    <!-- Modal body -->
                                    <div class="modal-body form-inline">
                                        <label  >Type: </label>
                                        <input class="form-control" type='text' id="new_item">
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer row">
                                        <div id="message" class="col-9">

                                        </div>
                                        <button type="button" class="btn btn-danger col-2"
                                                data-dismiss="modal" id="btnCreate">Create
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
    
                    </div>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Category</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>
                                    <input type="button" id="btnAdd" value="Add">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <select id="category_1" class="form-control">
                                        {%for key, value in items.items() %}
                                        <option>{{value}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input id="quantity_1" type="text"></td>
                                <td><input id="description_1" type="text"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-check form-inline">
                    <label class="form-check-label" for="typeLocation">Location:</label>
                    <select id="typeLocation" name="typeLocation" class="form-control">
                        <option>All</option>
                        {%for key, value in province.items() %}
                        <option>{{value}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="postDescription">Detail Address</label>
                    <textarea class="form-control" id="postAddress" placeholder="Write detail address ..."></textarea>
                </div>

                <div class="form-group form-inline">
                    <label for="postDescription">Date Will Close</label>
                    <input type=date class="form-control" id="postDateClose">
                </div>
            </form>
            <button id="btnSubmitPost" class="btn btn-default">Submit</button>
            <span id='message' style=
                    "color:red; font-size:18px; font-weight:bold;"></span>
        </div>
    </div>
</div>

<script>
    $('#btnSubmitPost').on('click', function () {
        const username = `{{ session['username'] }}`;
        const is_giving = $('#id_giving').prop('checked');
        const is_receiving = $('#id_receiving').prop('checked');
        if (is_receiving === true)
            var type_post = '1';
        else {
            var type_post = '0';
        }
        const content = $('#postDescription').val();
        const title = $('#postTitle').val();

        var leng = $('tbody').children().length;
        var items = []
        for (var i = 0; i < leng; i++){
            var category = $('tbody').children().eq(i).children().eq(1).children().eq(0).val();
            var quantity = $('tbody').children().eq(i).children().eq(2).children().eq(0).val();
            var description = $('tbody').children().eq(i).children().eq(3).children().eq(0).val();
            items.push([category, quantity, description])
        }
        console.log(items)
        $.ajax({
            url: '/post/event',
            type: 'POST',
            data: {
                username: username,
                type_post: type_post,
                content: content,
                title: title,
                location: $('#typeLocation').val(),
                address: $('#postAddress').val(),
                date_close: $('#postDateClose').val(),
                items: (items).toString(),
                type_user: session['type_user']
            },
            success: function (data) {
                if (data.errors === 0) {
                    document.getElementById('message').innerHTML = 'Done';           
                    window.location.href = "/homepage";
                } else {
                    document.getElementById('message').innerHTML = data.message;
                }
            },
            error: function () {
                document.getElementById('message').innerHTML = 'Something is wrong!';
            }
        })
    });
    $('#btnAdd').on('click', function(){
        var leng = $('tbody').children().length;
        $(this).parent().parent().parent().parent().children().eq(1).append("<tr><td>" + (leng + 1) + "</td><td><select id='category_" + (leng+1) + "'class='form-control'>" + $('#category_1').html() +"</select></td>+<td><input id='quantity_" + (leng + 1) + "' type='text'></td><td><input id='quantity_" + (leng+1) + "' type='text'></td></tr>")
    })
    $('#btnCreate').on('click', function(){
        $.ajax({
            type: 'POST',
            url: '/post/new_item',
            data: {
                type: $('#new_item').val()
            },
            success: function(data){
                $('#new_item').val("")
                $('#message').text('Create new item success!')
                location.reload();
            }
        })
    })
    if ({{session['type_user']}} == 2){
        $('#id_giving').prop('checked', false)
        $('#id_receiving').prop('checked')
        $('#check_choose').css('display', 'none')

    }
</script>

{% endblock %}