<table>
    <str>
        <td>
            <a  href="{{url_for('lib.controller.label.labelResource',filename=image['filename'])}}">
                {{image['filename']}}
            </a>
        </td>
    </str>
</table>