<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .image { grid-area: image;}
            .label { grid-area: label;}
            .footer {grid-area: footer;}
            .grid-container {
                display: grid;
                grid-template-areas: 
                'image label'
                'footer footer';
                grid-gap: 10px;
                background-color: #2196F3;
                padding: 10px;
            }
            a {
                text-decoration:none;
                display: inline-block;
                padding: 8px 16px;
            }
            a:hover{
                background-color: #ddd;
                color: black;
            }
            .previous{
                background-color: #f1f1f1;
                color: black;
            }
            .next {
                background-color: #4CAF50;
                color: white;
            }
            .round {
                border-radius: 50%
            }
        </style>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible">
        <title>Document</title>
    </head>
    <body>
        
        
        <div class="grid-container">
            <div class="image">
                <img src="{{url_for('lib.controller.label.fileResource', filename=filename)}}" width="500" height="600">
            </div>
            <div class = "label">
                {%for i in range(10)%}
                <form method="POST">
                    {{form.csrf_token}}
                    {{form.label}}
                    <input type=submit>
                </form>
                {%endfor%}
            </div>
            <div class = "footer">
                {%if previous_image %}
                    <a href = "{{url_for('lib.controller.label.labelResource', filename=previous_image)}}" class = "previous">&laquo; Previous</a>
                {%else%}
                    <a href = "#" class = "previous">&laquo; Previous</a>
                {%endif%}
                {%if next_image %}
                <a href= "{{url_for('lib.controller.label.labelResource', filename=next_image)}}" class = "next">Next &raquo;</a>
                {%else%}
                    <a href = "#" class = "next">&raquo; Next</a>
                {%endif%}

              
            </div>

        </div>
        <script>
            let label_select = document.getElementById('label');
            label_select.onchange = function(){
                label = label_select.value;
                alert(label);
            }
        </script>
    </body>
</html>
