{% include 'nav_bar/index.html' %}
{% block content %}
<head>
    <meta charset='utf-8'/>
    <link href='/static/fullcalendar/lib/main.css/' rel='stylesheet'/>
    <script src='/static/fullcalendar/lib/main.js'></script>
    <script>


        var events = `{{ events }}`.substring(1, `{{ events }}`.length -1).split(',');
        for (var e = 0; e < events.length; e++){
            var event = events[e].substring(1, events[e].length - 1).split(',')
            console.log(event);
        }

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    { // this object will be "parsed" into an Event Object
                        title: 'We need 12 box of mask for Dang Nang City poor people in COVID-19 Pandemic', // a property!
                        start: '2021-03-20', // a property!
                        end: '2021-03-23' // a property! ** see important note below about 'end' **
                    },
                    {
                        title: 'At the day 28/03/2021, We are - TNT Team need a bunch of old warm clothes for SOS village, so could you share with us',
                        start: '2021-03-26',
                        end: '2021-03-28',
                        color: '#378006'
                    }
                ]
            });
            calendar.render();
        });

    </script>
    <style>
        #calendar {
            height: 75%;
            width: 90%;
            margin: auto;
        }
    </style>
</head>

<div>
    <div id='calendar'></div>
</div>


{% endblock%}