{% include 'nav_bar/index.html' %}
{% block content %}
<div style="width: 80%; margin: auto">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Event detail</h2>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="postTitle">Title Event</label>
                    <h3 class="form-control" id="postTitle">{{event['title']}}</h3>
                </div>
                <div class="form-group">
                    <label for="postDescription">Description</label>
                    <h4 style="height: auto" class="form-control" id="postDescription">{{event['content']}}</h4>
                </div>
                <div class="form-group">
                    <label for="postDescription">Detail Address</label>
                    <h3 class="form-control" id="postAddress">{{event['address']}}</h3>
                </div>

                <div class="form-group form-inline">
                    <label for="postDescription">Date Will Close</label>
                    <h3 class="form-control">{{event['date_close']}}</h3>
                </div>

                <!-- Table list items -->
                <div class="form-group">
                    <label>Items</label>
                    <table class="table table-condensed">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Description</th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                        <tr>
                            <td>{{item['id']}}</td>
                            <td>{{item['category']}}</td>
                            {% if item['current_quatity'] == item['quatity'] %}
                            <td style="color: green">{{item['current_quatity']}}/{{item['quatity']}}</td>
                            {% else %}
                            <td style="color: red">{{item['current_quatity']}}/{{item['quatity']}}</td>
                            {% endif%}
                            <td>{{item['description']}}</td>
                            {% if item['current_quatity'] != item['quatity'] %}
                            <td>

                                <div class="container">
                                    <!-- Button to Open the Modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#myModal">
                                        Donate
                                    </button>

                                    <!-- The Modal -->
                                    <div class="modal" id="myModal">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                            <span class="modal-title"
                                                                  style="font-size: 2em; text-align: center;">Type quatity</span>
                                                    <button type="button" style="font-size: 3em" class="close"
                                                            data-dismiss="modal">&times;
                                                    </button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <input class="hidden" id="id_item_in_event" value={{item['id']}}>
                                                    <input style="width: 10%" id="quatity_donate"> / {{ item['quatity']
                                                    | int - item['current_quatity'] | int}}
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary"
                                                            data-dismiss="modal" id="btnSubmit">Send
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>

                            {% endif%}
                        </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>


            </form>
            <span id='message' style=
                    "color:red; font-size:18px; font-weight:bold;"></span>
        </div>
    </div>
</div>

<script>
    $('#btnSubmit').on('click', function () {
        var quatity_donate = $('#quatity_donate');
        var id_item_in_event = $('#id_item_in_event');
        debugger
        $.ajax({
            type: 'UPDATE',
            url: '/event/donate',
            data: {
                id_item_in_event: id_item_in_event.val(),
                quatity_donate: quatity_donate.val()
            },
            success: function (data) {
                if (data.errors === 0) {
                    location.reload()
                }
            },
            error: function () {
                document.getElementById('message').innerHTML = 'Something wrong!';
                $('#message').css('color', 'red');
                console.log('error');
            }
        })
    });
</script>

{% endblock %}