{% include 'nav_bar/index.html' %}
{% block content %}

<div style="width: 90%; margin: auto">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Event</h2>
        </div>
        <div class="panel-body">

            <!--   Table events        -->
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Date post</th>
                    <th scope="col">Deadline</th>
                    <th scope="col">Address</th>
                    <th scope="col">Status</th>
                    <th scope="col">Create by</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <th scope="row">{{event['id']}}</th>
                    {% if event['status_finish'] == 'false' %}
                    <td><a href="{{ '/event/%s'%event['id'] }}">{{event['title']}}</a></td>
                    {% else %}
                    <td>{{event['title']}}</td>
                    {% endif %}
                    <td>{{event['content']}}</td>
                    <td>{{event['date_post']}}</td>
                    <td>{{event['date_close']}}</td>
                    <td>{{event['address']}}</td>
                    {% if event['status_finish'] == 'false' %}
                    <td> In progress</td>
                    {% else %}
                    <td> DONE</td>
                    {% endif %}
                    <td>{{event['username']}}</td>
                </tr>

                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>

{% endblock %}